.main-container {
    margin-left: 250px;
    margin-right: 250px;
    text-align: center;
    font-family: Arial;
}

/* Link to NASA images API */
a {
    margin-top: 15px;
    margin-left: 1000px;
    font-style: none;
    text-decoration: none;
    color: black;
    font-family: Arial;
    transition: color 0.3s ease; 
}

a:active {
    text-decoration: none;
    font-style: none;
    color: black;
}

a:hover {
    color: orange;
    text-decoration: underline;
}

a:visited {
    text-decoration: none;
    font-style: none;
    color: black;
}

a:visited:hover {
    color: orange;
}

a:active:hover {
    color: orange;
}


/* The container with the image, title and description */
.apod {
    margin-top: 10px;
}


/* */
h4 {
    font-size: 21px;
    font-family: Arial;
}

footer {
    margin-right: 250px;
    font-family: Arial;
    text-align: right;
    font-size: 26px;
}
