body {
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: Arial;
}

#subject {
    width: 600px;
    height: 50px;
    font-size: 34px;
}


/* The link menu between the different pages */
/* index.php, images.php and videos.php */
.filter-links {
    padding-top: 20px;
    font-family: Arial;
}

.filter-links a {
    color: black;
    font-style: normal;
}

.filter-links a:active {
    font-weight: 700;
}

.filter-links a:visited {
    color: black;
    font-style: normal;
}

.filter-links a:hover {
    font-style: italic;
}


/* The container wrapping the whole page from under the search result info data
    to the copyright mark */

.main-container {
    flex: 1;
}


/* The container including the search results */
/* Every item is wrapped in one of it */
.div-container {
    margin-top: 20px;
    padding: 10px;
    border: 2px solid black;
}

h2 {
    font-family: Arial;
}

.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}
  
.active, .collapsible:hover {
    background-color: #555;
}
  
.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}


/* Code for the pagination buttons */
.pagination {
    margin-top: 20px;
}

.pagination a{
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-family: arial;
    padding: 10px;
}

.pagination a:visited {
    text-decoration: none;
    color: black;
}

.pagination a:hover {
    font-style: italic;
}

/* Code for the copyright mark */
#copyright {
    text-align: right;
    padding: 10px;
    font-family: Arial;
    font-size: 20px;
}
